apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: tutor-agent-config
spec:
  tracing:
    samplingRate: "1"
    zipkin:
      endpointAddress: "http://zipkin.observability.svc.cluster.local:9411/api/v2/spans"
  metric:
    enabled: true
  httpPipeline:
    handlers: []
  features:
    - name: AppHealthCheck
      enabled: true
  accessControl:
    defaultAction: allow
    trustDomain: "learnflow-platform"