# Virtual environments
venv
learnflow-env
.venv
__pycache__
*.pyc
*.pyo

# Node
node_modules
.next

# IDE
.idea
.vscode

# Git
.git
.gitignore

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docs
*.md
docs/
screenshots/

# Archives
*.tar.gz
*.zip
